.leftHexagonIcon{
    position:fixed;
    height:30%;
    left:
}
.rightHexagonIcon{
    position:fixed;
    height:30%;
    left:
}
.circleIcon{
    position:fixed;
    height:30%;
    left:
}
.jugIcon{
    position:fixed;
    height:30%;
    left:
}
