.leftHexagonIcon {
  position: fixed;
  height: 60%;
  left: 30%;
  top: %;
}
.rightHexagonIcon {
  position: fixed;
  height: 60%;
  left: 60%;
  top: 40%;
}
.circleIcon {
  position: fixed;
  height: 30%;
  left: 50%;
  top: 70%;
}
.jugIcon {
  position: fixed;
  height: 30%;
  left: 50%;
  top: 20%;
}
