.leftHexagonIcon {
  position: fixed;
  height: 60%;
  left: 10%;
  top: 15%;
}
.rightHexagonIcon {
  position: fixed;
  height: 60%;
  left: 55%;
  top: 15%;
}
.centerhexagonIcon {
  position: fixed;
  height: 45%;
  left: 39.27%;
  top: 55%;
}
.jugIcon {
  position: fixed;
  height: 30%;
  left: 50%;
  top: 20%;
}
