.leftHexagonIcon {
  position: fixed;
  height: 50%;
  left: 13%;
  top: 15%;
}
.rightHexagonIcon {
  position: fixed;
  height: 50%;
  left: 58%;
  top: 15%;
}
.centerHexagonIcon {
  position: fixed;
  height: 50%;
  left: 35.55%;
  top: 48%;
}
.jugIcon {
  position: fixed;
  height: 30%;
  left: 43.55%;
  top: 10%;
}
