.leftHexagonIcon {
  position: fixed;
  height: 50%;
  left: 10%;
  top: 18%;
}
.rightHexagonIcon {
  position: fixed;
  height: 50%;
  left: 55%;
  top: 18%;
}
.centerHexagonIcon {
  position: fixed;
  height: 50%;
  left: 35%;
  top: 15%;
}
.jugIcon {
  position: fixed;
  height: 30%;
  left: 50%;
  top: 20%;
}
