
.GameContainer {
  overflow: hidden !important;
}

.Bg_Image {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  margin: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.music_button {
  position: fixed;
  z-index: 999;
  left: 2%;
  bottom: 50%;
  height: 8%;
}
