.leftHexagonIcon {
  position: fixed;
  height: 50%;
  left: 11%;
  top: 15%;
}
.rightHexagonIcon {
  position: fixed;
  height: 50%;
  left: 60%;
  top: 15%;
}
.centerHexagonIcon {
  position: fixed;
  height: 50%;
  left: 35.55%;
  top: 45%;
}
.jugIcon {
  position: fixed;
  height: 30%;
  left: 43.55%;
  top: 10%;
}
